* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 800px;
    margin: auto;
}

h1 { margin-top: 10px; }

h1.subhead {
    font-style: italic;
    color: grey;
    font-size: 18px;
    font-weight: normal;
}

p { margin: 10px 0; }

main { margin-bottom: 20px; }

$color_1: #e94040;
$color_2: #FF8049;
$color_3: #7560E0;

svg#main {
    background-color: #eee;

    path { fill: none; }

    #robot1 { fill: $color_1; }

    #robot2 { fill: $color_2; }

    #robot3 { fill: $color_3; }
}

form#weights {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;

    div { flex-grow: 1; }

    input {
        display: block;
        width: 75px;
        font-size: 20px;
        font-family: monospace;
        border-radius: 4px;
        border: 2px solid;
        padding: 5px;
    }

    div.robot1 input { border-color: $color_1; }
    div.robot2 input { border-color: $color_2; }
    div.robot3 input { border-color: $color_3; }

}
